[flake8]
# Максимальная длина строки кода - 120 символов (стандарт PEP 8 предлагает 79)
max-line-length = 120

# Папки и файлы, которые нужно исключить из проверки
exclude = 
    .git,           # Системные файлы git
    __pycache__,    # Кэш Python
    migrations,     # Файлы миграций Django
    venv,          # Виртуальное окружение
    env            # Альтернативное имя виртуального окружения

# Коды ошибок, которые следует игнорировать    
ignore = 
    E226,  # Отсутствие пробелов вокруг арифметических операторов
    E302,  # Ожидается две пустые строки
    E41,   # Отступы с табуляцией
    E702,  # Несколько операторов в одной строке
    W291,  # Конечные пробелы
    W293,  # Пустая строка содержит пробелы
    F403,  # 'from module import *' используется
    F405,  # Имя может быть не определено из-за импорта со звездочкой

# Игнорирование определенных ошибок для конкретных файлов
per-file-ignores =
    # Игнорировать неиспользуемые импорты (F401) в файлах __init__.py
    __init__.py:F401